body {
	font-family: inherit;
}

/* || Icon Badge Style */
.badge-container {
	padding: var(--p-5);
	border-radius: var(--br-2);
	width: 100%;
	height: auto;
}

.badge-alignment--container {
	color: var(--cta-color);
	margin: var(--m-5);
	padding-bottom: var(--p-10);
	width: 100%;
	height: auto;
}

.badge-alignment {
	width: 100%;
	height: auto;
}

.badge {
	height: auto;
	width: max-content;
}

.badge-icon > * {
	font-size: 2.5rem;
}

.badge-icon:hover {
	color: var(--cta-color);
}

.badge-text {
	position: relative;
	background: var(--cta-color);
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 0.9rem;
	width: 2rem;
	height: 2rem;
	padding: var(--p-2);
	border-radius: var(--br-circle);
}

.top {
	top: -4rem;
}
.right {
	right: -1.5rem;
}

.left {
	left: -1rem;
}

.bottom {
	bottom: 1rem;
}

/* || Button Badge */

.badge-btn {
	border-radius: var(--br-2);
	border: var(--b-0);
	background: var(--cta-color);
	color: var(--secondary-color);
	font-family: inherit;
	font-size: inherit;
	padding: var(--p-5);
}

.badge-btn--counter {
	background: var(--cta-color);
	color: var(--secondary-color);
	padding: var(--p-3);
	margin: var(--margin-auto);
	border-radius: var(--br-1);
}

.badge-btn:hover {
	background-color: var(--secondary-color);
	color: var(--cta-color);
}
