body {
	font-family: inherit;
}

/* || Icon Badge Style */
.badge-container {
	width: 100%;
	height: auto;
}

.badge-alignment--container {
	color: var(--cta-color);
	width: 100%;
	height: auto;
}

.badge-alignment {
	width: 100%;
	height: auto;
}

.badge {
	height: auto;
	width: max-content;
}

.badge-icon > * {
	font-size: 2.5rem;
}

.badge-icon:hover {
	color: var(--cta-color);
}

.badge-text {
	position: relative;
	background: var(--cta-color);
	color: var(--tertiary-color);
	font-weight: bold;
	font-size: 0.9rem;
	width: 2rem;
	height: 2rem;
}

.top {
	top: -4rem;
}
.right {
	right: -1.5rem;
}

.left {
	left: -1rem;
}

.bottom {
	bottom: 1rem;
}

/* || Button Badge */

.badge-btn {
	border: var(--b-0);
	background: var(--cta-color);
	color: var(--tertiary-color);
	font-family: inherit;
	font-size: inherit;
}

.badge-btn--counter {
	background: var(--cta-color);
	color: var(--tertiary-color);
}

.badge-btn:hover {
	background-color: var(--tertiary-color);
	color: var(--cta-color);
}
