:root {
	/* Border Variables */
	--border: 0.1rem;
	--b-0: 0;
	--b-1: calc(1 * var(--border));
	--b-2: calc(2 * var(--border));
	--b-3: calc(3 * var(--border));
	--b-4: calc(4 * var(--border));
	--b-5: calc(5 * var(--border));
	--b-6: calc(6 * var(--border));
	--b-10: calc(10 * var(--border));

	/* Border Radius Variables */

	--border-radius: 0.5rem;
	--br-circle: 50%;
	--br-1: calc(1 * var(--border-radius));
	--br-2: calc(2 * var(--border-radius));
	--br-3: calc(3 * var(--border-radius));
	--br-4: calc(4 * var(--border-radius));
	--br-5: calc(5 * var(--border-radius));
	--br-6: calc(6 * var(--border-radius));
	--br-10: calc(10 * var(--border-radius));
}

/* || Border along x and y axis */

.b-0 {
	border: 0px;
}

.b-1 {
	border: calc(1 * var(--border));
}

.b-2 {
	border: calc(2 * var(--border));
}

.b-3 {
	border: calc(3 * var(--border));
}

.b-4 {
	border: calc(4 * var(--border));
}

.b-5 {
	border: calc(5 * var(--border));
}

.b-6 {
	border: calc(6 * var(--border));
}

.b-7 {
	border: calc(7 * var(--border));
}

.b-8 {
	border: calc(8 * var(--border));
}

.b-9 {
	border: calc(9 * var(--border));
}

.b-10 {
	border: calc(10 * var(--border));
}

/* || Border Top */

.bt-1 {
	border-top: calc(1 * var(--border));
}

.bt-2 {
	border-top: calc(2 * var(--border));
}

.bt-3 {
	border-top: calc(3 * var(--border));
}

.bt-4 {
	border-top: calc(4 * var(--border));
}

.bt-5 {
	border-top: calc(5 * var(--border));
}

.bt-6 {
	border-top: calc(6 * var(--border));
}

.bt-7 {
	border-top: calc(7 * var(--border));
}

.bt-8 {
	border-top: calc(8 * var(--border));
}

.bt-9 {
	border-top: calc(9 * var(--border));
}

.bt-10 {
	border-top: calc(10 * var(--border));
}

/* || Border bottom */

.bb-1 {
	border-bottom: calc(1 * var(--border));
}

.bb-2 {
	border-bottom: calc(2 * var(--border));
}

.bb-3 {
	border-bottom: calc(3 * var(--border));
}

.bb-4 {
	border-bottom: calc(4 * var(--border));
}

.bb-5 {
	border-bottom: calc(5 * var(--border));
}

.bb-6 {
	border-bottom: calc(6 * var(--border));
}

.bb-7 {
	border-bottom: calc(7 * var(--border));
}

.bb-8 {
	border-bottom: calc(8 * var(--border));
}

.bb-9 {
	border-bottom: calc(9 * var(--border));
}

.bb-10 {
	border-bottom: calc(10 * var(--border));
}

/* || Border Left */

.bl-1 {
	border-left: calc(1 * var(--border));
}

.bl-2 {
	border-left: calc(2 * var(--border));
}

.bl-3 {
	border-left: calc(3 * var(--border));
}

.bl-4 {
	border-left: calc(4 * var(--border));
}

.bl-5 {
	border-left: calc(5 * var(--border));
}

.bl-6 {
	border-left: calc(6 * var(--border));
}

.bl-7 {
	border-left: calc(7 * var(--border));
}

.bl-8 {
	border-left: calc(8 * var(--border));
}

.bl-9 {
	border-left: calc(9 * var(--border));
}

.bl-10 {
	border-left: calc(10 * var(--border));
}

/* || Border Right */

.br-1 {
	border-right: calc(1 * var(--border));
}

.br-2 {
	border-right: calc(2 * var(--border));
}

.br-3 {
	border-right: calc(3 * var(--border));
}

.br-4 {
	border-right: calc(4 * var(--border));
}

.br-5 {
	border-right: calc(5 * var(--border));
}

.br-6 {
	border-right: calc(6 * var(--border));
}

.br-7 {
	border-right: calc(7 * var(--border));
}

.br-8 {
	border-right: calc(8 * var(--border));
}

.br-9 {
	border-right: calc(9 * var(--border));
}

.br-10 {
	border-right: calc(10 * var(--border));
}

/* || Border along x axis */

.bx-1 {
	border-left: calc(1 * var(--border));
	border-right: calc(1 * var(--border));
}

.bx-2 {
	border-left: calc(2 * var(--border));
	border-right: calc(2 * var(--border));
}

.bx-3 {
	border-left: calc(3 * var(--border));
	border-right: calc(3 * var(--border));
}

.bx-4 {
	border-left: calc(4 * var(--border));
	border-right: calc(4 * var(--border));
}

.bx-5 {
	border-left: calc(5 * var(--border));
	border-right: calc(5 * var(--border));
}

.bx-6 {
	border-left: calc(6 * var(--border));
	border-right: calc(6 * var(--border));
}

.bx-7 {
	border-left: calc(7 * var(--border));
	border-right: calc(7 * var(--border));
}

.bx-8 {
	border-left: calc(8 * var(--border));
	border-right: calc(8 * var(--border));
}

.bx-9 {
	border-left: calc(9 * var(--border));
	border-right: calc(9 * var(--border));
}

.bx-10 {
	border-left: calc(10 * var(--border));
	border-right: calc(10 * var(--border));
}

/* || Border along x axis */

.by-1 {
	border-top: calc(1 * var(--border));
	border-bottom: calc(1 * var(--border));
}

.by-2 {
	border-top: calc(2 * var(--border));
	border-bottom: calc(2 * var(--border));
}

.by-3 {
	border-top: calc(3 * var(--border));
	border-bottom: calc(3 * var(--border));
}

.by-4 {
	border-top: calc(4 * var(--border));
	border-bottom: calc(4 * var(--border));
}

.by-5 {
	border-top: calc(5 * var(--border));
	border-bottom: calc(5 * var(--border));
}

.by-6 {
	border-top: calc(6 * var(--border));
	border-bottom: calc(6 * var(--border));
}

.by-7 {
	border-top: calc(7 * var(--border));
	border-bottom: calc(7 * var(--border));
}

.by-8 {
	border-top: calc(8 * var(--border));
	border-bottom: calc(8 * var(--border));
}

.by-9 {
	border-top: calc(9 * var(--border));
	border-bottom: calc(9 * var(--border));
}

.by-10 {
	border-top: calc(10 * var(--border));
	border-bottom: calc(10 * var(--border));
}

/* || Border Radius */

.b-radius-circle {
	border-radius: 50%;
}

.b-radius-0 {
	border-radius: 0px;
}

.b-radius-1 {
	border-radius: calc(1 * var(--border-radius));
}

.b-radius-2 {
	border-radius: calc(2 * var(--border-radius));
}

.b-radius-3 {
	border-radius: calc(3 * var(--border-radius));
}

.b-radius-4 {
	border-radius: calc(4 * var(--border-radius));
}

.b-radius-5 {
	border-radius: calc(5 * var(--border-radius));
}

.b-radius-6 {
	border-radius: calc(6 * var(--border-radius));
}

.b-radius-7 {
	border-radius: calc(7 * var(--border-radius));
}

.b-radius-8 {
	border-radius: calc(8 * var(--border-radius));
}

.b-radius-9 {
	border-radius: calc(9 * var(--border-radius));
}

.b-radius-10 {
	border-radius: calc(10 * var(--border-radius));
}
