body {
	font-family: inherit;
}
.primary-btn {
	background: var(--cta-color);
	font-family: inherit;
	border: var(--b-2) solid var(--cta-color);
	color: var(--tertiary-color);
	font-size: inherit;
}

.primary-btn:hover {
	background: var(--tertiary-color);
	color: var(--cta-color);
	border-color: var(--tertiary-color);
}

.outline-btn {
	background: var(--secondary-background-color);
	border: var(--b-2) solid var(--secondary-color);
	color: var(--secondary-color);
	font-family: inherit;
	font-size: inherit;
}

.outline-btn:hover {
	background: var(--primary-color);
	border-color: var(--cta-color);
	color: var(--cta-color);
}

.link-btn {
	color: var(--secondary-color);
	text-decoration: none;
	border-bottom: var(--b-1) solid var(--cta-color);
}

.link-btn:hover {
	color: var(--cta-color);
	border-bottom: var(--b-3) solid var(--cta-color);
}

.icon-btn {
	color: var(--secondary-color);
}

.icon-btn:hover {
	color: var(--cta-color);
}

.floating-btn {
	background: var(--cta-color);
	width: 4rem;
	height: 4rem;
	font-family: inherit;
	border: var(--br-2) solid var(--cta-color);
	color: var(--tertiary-color);
	font-size: 1.2rem;
	z-index: var(--z-index);
}

.floating-btn:hover {
	color: var(--cta-color);
	background: var(--tertiary-color);
	border-color: var(--tertiary-color);
}

.toggle-button-container {
	position: absoulte;
	top: 50%;
	left: 50%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 11rem;
	height: 6rem;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--secondary-color);
	transition: 0.4s;
}

.switch input {
	display: none;
}

.slider:before {
	position: absolute;
	content: "";
	height: 5.2rem;
	width: 5.2rem;
	left: 0.5rem;
	bottom: 0.5rem;
	background-color: var(--secondary-background-color);
	border-radius: var(--br-circle);
	transition: 0.4s;
}

input:checked + .slider {
	background: var(--cta-color);
	color: var(--tertiary-color);
}

input:checked + .slider::before {
	transform: translateX(5rem);
}
