body {
	font-family: inherit;
}
.primary-btn {
	background: var(--cta-color);
	padding: var(--p-5);
	border-radius: var(--br-2);
	font-family: inherit;
	border: var(--b-2) solid var(--cta-color);
	color: var(--secondary-color);
	font-size: inherit;
	margin: var(--m-5) var(--m-0);
}

.primary-btn:hover {
	background: var(--secondary-color);
	color: var(--cta-color);
	border-color: var(--secondary-color);
}

.outline {
	background: var(--secondary-background-color);
	border: var(--b-2) solid var(--secondary-color);
	color: var(--secondary-color);
	padding: var(--p-5);
	border-radius: var(--br-2);
	font-family: inherit;
	font-size: inherit;
	margin: var(--m-5) var(--m-0);
}
.outline:hover {
	background: var(--primary-color);
	border-color: var(--cta-color);
	color: var(--cta-color);
}

.link-btn {
	color: var(--secondary-color);
	text-decoration: none;
	border-bottom: var(--br-1) solid var(--cta-color);
	margin: var(--m-5) var(--m-0);
}

.link-btn:hover {
	color: var(--cta-color);
	border-bottom: var(--br-3) solid var(--cta-color);
}

.icon-btn {
	color: var(--secondary-color);
}
.icon-btn:hover {
	color: var(--cta-color);
}

.floating-btn {
	background: var(--cta-color);
	width: 4rem;
	height: 4rem;
	border-radius: var(--br-circle);
	font-family: inherit;
	border: var(--br-2) solid var(--cta-color);
	color: var(--secondary-color);
	font-size: 1.2rem;
	z-index: var(--z-index);
}
.floating-btn:hover {
	color: var(--cta-color);
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}
.toggle-button-container {
	position: absoulte;
	top: 50%;
	left: 50%;
	text-align: center;
}
.switch {
	position: relative;
	display: inline-block;
	width: 11rem;
	height: 6rem;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--secondary-background-color);
	transition: 0.4s;
	border-radius: var(--br-4);
}

.switch input {
	display: none;
}

.slider:before {
	position: absolute;
	content: "";
	height: 5.2rem;
	width: 5.2rem;
	left: 0.5rem;
	bottom: 0.5rem;
	background-color: var(--secondary-color);
	border-radius: var(--br-circle);
	transition: 0.4s;
}

input:checked + .slider {
	background: var(--cta-color);
}

input:checked + .slider::before {
	transform: translateX(5rem);
}
