@import url("../../../../css/components.css");

body {
	font-family: inherit;
}
.flex-jc-ac {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	display: grid;
	padding: 1rem;
	position: relative;
	border-radius: 1rem;
	background-color: var(--secondary-background-color);
	height: 45rem;
	font-size: 1.4rem;
}

.basic-card {
	height: 20rem;
	width: 30rem;
	padding: 2rem;
}

.vertical {
	width: 25rem;
}

.card-shadow {
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
}

.card-image-container {
	grid-column: 1/-1;
	grid-row: 1/5;
	background: var(--primary-color);
	border-radius: 1rem;
}

.card-image {
	width: 20rem;
	height: 25rem;
	border-radius: 1rem;
	margin-top: 1rem;
}

.card-content {
	grid-column: 1/-1;
	grid-row: 5/6;
	padding: 1rem 1rem 0rem 1rem;
	box-sizing: border-box;
}
.card-tag {
	grid-area: 1/-1;
	margin: 0.5rem;
	background: var(--secondary-background-color);
	align-self: start;
	justify-self: end;
	padding: 0rem 0.2rem 0rem 0.2rem;
	border-radius: 0.5rem;
	position: relative;
	font-size: 1.5rem;
	opacity: 0.95;
}

.card-review {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	margin: 0.5rem;
	padding: 0;
	font-weight: bold;
}

.card-price-tag {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
	margin-top: 0.5rem;
}

.card-price-tag > * {
	padding: 0;
	margin: 0;
}
.card-price-tag strike {
	color: var(--secondary-font-color);
}

.discount {
	color: var(--cta-color);
}

.review-star {
	color: var(--review-star-color);
}

.fa-star {
	font-size: 1.4rem;
}
.card-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 0rem;
	margin: 0.1rem;
	border-radius: 0.8rem;
	font-weight: bold;
	border: 0;
	font-family: inherit;
	color: var(--secondary-color);
}
.card-wishlist {
	opacity: 0.65;
	grid-column: 1/2;
	grid-row: 4/5;
	background-color: var(--secondary-background-color);

	margin: 1rem;
	visibility: hidden;
}
.card:hover {
	transform: scale(var(--zoom-card));
}
.card:hover .card-wishlist {
	visibility: visible;
}

.card-wishlist:hover {
	opacity: 100%;
}

.card-cart {
	background-color: var(--cta-color);
}

.card-cart:hover {
	background: var(--secondary-color);
	color: var(--cta-color);
}

.card-text-overlay {
	opacity: 0.4;
	text-align: center;
	color: var(--cta-color);
	background: var(--secondary-color);
	grid-column: 1/2;
	grid-row: 1/6;
	position: relative;
	border-radius: 1rem;
	z-index: var(--max-z-index);
}
.overlay-text {
	font-size: 2rem;
	font-weight: bold;
	opacity: 100%;
}
.rui-cross {
	border: 0;
	font-size: 2rem;
	border-radius: 50%;
	cursor: pointer;
}

.card-dismiss-btn {
	grid-area: 1/-1;
	margin: 0.5rem;
	position: relative;
	align-self: start;
	justify-self: end;
	padding: 0.2rem;
	color: var(--secondary-color);
}

.card-dismiss-btn:hover {
	color: var(--cta-color);
	background-color: var(--secondary-background-color);
}

.inactive {
	visibility: hidden;
}

/* || Horizontal Card */
.horizontal {
	height: 60rem;
	width: 120rem;
	display: grid;
	grid-template-areas: "h-img h-txt";
}

.horizontal-card-img--container {
	grid-area: h-img;
	background: var(--primary-color);
	border-radius: 1rem;
}

.horizontal-card-text--container {
	grid-area: h-txt;
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0rem 1rem;
}

.horizontal-card-img {
	width: 30rem;
	height: 38rem;
	border-radius: 1rem;
	margin-top: 1rem;
}

.set {
	color: var(--review-star-color);
}

.unset {
	color: var(--review-star-color-unset);
}

.flex-ac {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	flex-grow: 1;
}

.secondary-font {
	color: var(--secondary-font-color);
}

.rating {
	border-bottom: 0.1rem solid var(--cta-color);
	padding-bottom: 1rem;
}

.pricing {
	padding: 1rem 0rem;
}
.size {
	font-family: inherit;
	padding: 1rem;
	width: 4rem;
	height: 4rem;
	border: 0.2rem solid var(--primary-color);
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 50%;
}

.size:hover {
	color: var(--cta-color);
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

.horizontal-card-btn-container {
	gap: 1rem;
	margin-bottom: 1rem;
	border-bottom: 0.1rem solid var(--cta-color);
	font-size: inherit;
}

.horizintal-card-btn-primary {
	flex-grow: 1;
	padding: 1rem;
	margin: 1rem;
	width: 45%;
	margin-bottom: 2rem;
	font-size: inherit;
}

.horizintal-card-btn-secondary {
	flex-grow: 1;
	padding: 1rem;
	margin: 1rem;
	width: 45%;
	margin-bottom: 2rem;
	background: none;
	font-size: inherit;
	border: 0.2rem solid var(--secondary-color);
}
.horizintal-card-btn-secondary:hover {
	background: var(--primary-color);
	color: var(--cta-color);
	border: 0;
}

.specification {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.specifications-form {
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: wrap;
}
.specification-key {
	font-size: 1.3rem;
	font-weight: bold;
}

.specification-value {
	font-family: inherit;
	padding: 0.4rem;
	border: 0;
	background: inherit;
	color: var(--secondary-color);
	border-bottom: 0.1rem solid var(--cta-color);
	font-size: inherit;
}

@media screen and (max-width: 870px) {
	.horizontal {
		grid-template-areas: "h-img" "h-txt";
		height: 100rem;
		width: 60rem;
	}
}

@media screen and (max-width: 450px) {
	.horizontal {
		grid-template-areas: "h-img" "h-txt" "h-txt";
		height: 130rem;
		width: 35rem;
	}
	.horizintal-card-btn-primary {
		margin: 0.5rem 0.5rem 0 0.5rem;
	}

	.horizintal-card-btn-secondary {
		margin: 0 0.5rem 0.5rem 0.5rem;
	}
}
