body {
	font-family: inherit;
}

.card {
	display: grid;
	position: relative;
	background-color: var(--secondary-background-color);
	height: 45rem;
	font-size: 1.4rem;
}

.basic-card {
	height: auto;
	width: 30rem;
	background-color: var(--secondary-background-color);
}

.vertical {
	width: 25rem;
}

.card-shadow {
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
}

.card-image-container {
	grid-column: 1/-1;
	grid-row: 1/5;
	background: var(--primary-color);
}

.card-image {
	width: 20rem;
	height: 25rem;
}

.card-content {
	grid-column: 1/-1;
	grid-row: 5/6;
	box-sizing: border-box;
}

.card-tag {
	grid-area: 1/-1;
	background: var(--secondary-background-color);
	align-self: start;
	justify-self: end;
	position: relative;
	font-size: 1.5rem;
	opacity: 0.95;
}

.card-price-tag strike {
	color: var(--secondary-font-color);
}

.discount {
	color: var(--cta-color);
}

.review-star {
	color: var(--review-star-color);
}

.fa-star {
	font-size: 1.4rem;
}

.card-wishlist {
	opacity: 0.65;
	grid-column: 1/2;
	grid-row: 4/5;
	visibility: hidden;
}

.card:hover {
	transform: scale(var(--zoom-card));
}
.card:hover .card-wishlist {
	visibility: visible;
}

.card-wishlist:hover {
	opacity: 100%;
}

.card-text-overlay {
	opacity: 0.6;
	color: var(--cta-color);
	background: var(--tertiary-color);
	grid-column: 1/2;
	grid-row: 1/6;
	position: relative;
	z-index: var(--max-z-index);
}

.overlay-text {
	font-size: 2rem;
	opacity: 100%;
}

.rui-cross {
	border: var(--b-0);
	font-size: 2rem;
	cursor: pointer;
}

.card-dismiss-btn {
	grid-area: 1/-1;
	position: relative;
	align-self: start;
	justify-self: end;
	color: var(--secondary-color);
}

.card-dismiss-btn:hover {
	color: var(--cta-color);
	background-color: var(--secondary-background-color);
}

.inactive {
	visibility: hidden;
}

/* || Horizontal Card */
.horizontal {
	height: auto;
	width: 100%;
	display: grid;
	grid-template-areas: "h-img h-txt";
}

.horizontal-card-img--container {
	grid-area: h-img;
	background: var(--primary-color);
}

.horizontal-card-text--container {
	grid-area: h-txt;
}

.set {
	color: var(--review-star-color);
}

.unset {
	color: var(--review-star-color-unset);
}

.secondary-font {
	color: var(--secondary-font-color);
}

.rating {
	border-bottom: var(--b-1) solid var(--cta-color);
}

.size {
	font-family: inherit;
	width: 4rem;
	height: 4rem;
	border: var(--b-2) solid var(--primary-color);
	background: var(--primary-color);
	color: var(--secondary-color);
}

.size:hover {
	color: var(--cta-color);
	background: var(--tertiary-color);
	border-color: var(--tertiary-color);
}

.horizontal-card-btn-container {
	border-bottom: var(--b-1) solid var(--cta-color);
	font-size: inherit;
}

.horizontal-card-btn-primary {
	width: 45%;
	font-size: inherit;
}

.horizontal-card-btn-secondary {
	width: 45%;
	background: none;
	font-size: inherit;
	border: var(--b-2) solid var(--secondary-color);
}

.specification-key {
	font-size: 1.3rem;
	font-weight: bold;
}

.specification-value {
	font-family: inherit;
	border: var(--b-0);
	background: inherit;
	color: var(--secondary-color);
	border-bottom: var(--b-1) solid var(--cta-color);
	font-size: inherit;
}

@media screen and (max-width: 870px) {
	.horizontal {
		grid-template-areas: "h-img" "h-txt";
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.horizontal {
		grid-template-areas: "h-img" "h-txt" "h-txt";
		height: auto;
		width: 100%;
	}
	.horizontal-card-btn-primary {
		margin: var(--m-2) var(--m-2) var(--m-0) var(--m-2);
	}

	.horizontal-card-btn-secondary {
		margin: var(--m-0) var(--m-2) var(--m-2) var(--m-2);
	}

	.basic-card,
	.vertical,
	.card-image {
		width: 100%;
	}
}

/* Orders Card */
.orders-card .horizontal {
	height: max-content;
	width: 100%;
	margin: 3rem 0;
	box-shadow: 0rem 0rem 0.2rem 0.2rem var(--shadow-color);
}

.orders-card .horizontal-card-img {
	height: 25rem;
	width: 20rem;
}

.order-status {
	color: var(--cta-color);
}
