body {
	font-family: inherit;
}

/* || Chip Container */
.chip-container {
	background: var(--secondary-background-color);
	padding: var(--p-5);
	border-radius: var(--br-2);
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: var(--primary-color);
	max-width: 70rem;
	height: auto;
}

/* || Basic Chips */

.basic-chip {
	background: var(--primary-color);
	color: var(--secondary-color);
	padding: var(--p-5);
	min-width: 2rem;
	border-radius: var(--br-3);
	font-size: 1.2rem;
}

.chip-cross {
	background: var(--secondary-background-color);
	color: var(--secondary-color);
	font-size: 1.5rem;
	border-radius: var(--br-circle);
	padding: var(--p-0) var(--p-2) var(--p-1) var(--p-2);
	cursor: pointer;
}

.chip-cross:hover {
	background: var(--cta-color);
	color: var(--secondary-background-color);
}

/* || Input Chips */

.input-chip--input {
	border: var(--b-0);
	background: var(--secondary-background-color);
	color: var(--secondary-color);
	font-size: inherit;
	flex-grow: 1;
	padding: var(--p-5);
}

.input-chip--input:focus {
	outline: none;
}

/* || Input Chips with icon*/

/* || Card Icon */

.chip-icon {
	width: 3rem;
	height: 3rem;
	border-radius: var(--br-circle);
}
