/* *****External CSS******/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto:ital,wght@1,300&display=swap");

/* *****Components CSS***** */
@import url("./reset.css");
@import url("./root-styles.css");
@import url("./margins.css");
@import url("./padding.css");
@import url("./borders.css");
@import url("./layouts.css");
@import url("./flex-layouts.css");
@import url("./code-tabs.css");
@import url("./styles.css");
@import url("./media-queries.css");
@import url("./alerts.css");
@import url("./avatars.css");
@import url("./badges.css");
@import url("./buttons.css");
@import url("./cards.css");
@import url("./chips.css");
@import url("./inputs.css");
@import url("./tabs.css");
@import url("./modals.css");
@import url("./drawers.css");
@import url("./rating.css");
@import url("./grids.css");
@import url("./rating.css");
@import url("./images.css");
@import url("./lists.css");
@import url("./typography.css");
@import url("./pagination.css");
@import url("./home-page.css");
@import url("./tables.css");
@import url("./quiz.css");
@import url("./slider.css");
@import url("./snackbars.css");
@import url("./utils.css");
