/* *****External CSS******/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

/* *****Components CSS***** */
@import url("./root-styles.css");
@import url("./code-tabs.css");
@import url("./styles.css");
@import url("./media-queries.css");
@import url("./alerts.css");
@import url("./avatars.css");
@import url("./badges.css");
@import url("./buttons.css");
@import url("./cards.css");
@import url("./chips.css");
@import url("./inputs.css");
@import url("./tabs.css");
@import url("./modals.css");
@import url("./grids.css");
@import url("./rating.css");
@import url("./images.css");
@import url("./lists.css");
@import url("./layouts.css");
@import url("./typography.css");
@import url("./margins.css");
@import url("./pagination.css");
@import url("./home-page.css");
@import url("./flex-layouts.css");
