/* Drawer Styling */

.drawer {
	background: var(--secondary-background-color);
	display: flex;
	flex-direction: column;
	height: 30rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: auto;
}
.drawer-icon-tab {
	display: flex;
	justify-content: end;
	padding: 1.2rem;
	border-bottom: 0.1rem solid var(--cta-color);
}
/* || Drawer List Styling */
.drawer-content--list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-top: 1rem;
}

.drawer-content {
	padding: 1rem;
}
.drawer-content:hover {
	background: var(--cta-color);
}
/* Link Styling */
.drawer-links {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 0;
}
/* Icon Styling */
.drawer-icon {
	width: 2rem;
	height: 2rem;
}

.drawer-active {
	width: 15rem;
}

.drawer-inactive {
	width: max-content;
}

.drawer-menu-icon-inactive {
	display: none;
}
