/* || Drawer Styling */

.drawer {
	background: var(--secondary-background-color);
	height: 30rem;
}
.drawer-icon-tab {
	border-bottom: var(--b-1) solid var(--cta-color);
}

.drawer-content:hover {
	background: var(--cta-color);
}

/* || Icon Styling */
.drawer-icon {
	width: 2rem;
	height: 2rem;
}

.drawer-active {
	width: 15rem;
}

.drawer-inactive {
	width: max-content;
}

.drawer-menu-icon-inactive {
	display: none;
}
