/* || Drawer Styling */

.drawer {
	background: var(--secondary-background-color);
	height: 30rem;
	border-radius: var(--br-1);
	padding: var(--p-2);
	margin: var(--margin-auto);
}
.drawer-icon-tab {
	padding: var(--p-6);
	border-bottom: var(--b-1) solid var(--cta-color);
}

/* || Drawer List Styling */
.drawer-content--list {
	list-style: none;
	margin: var(--m-0);
	padding: var(--p-0);
	margin-top: var(--m-5);
}

.drawer-content {
	padding: var(--p-5);
}

.drawer-content:hover {
	background: var(--cta-color);
}

/* || Link Styling */
.drawer-links {
	padding: var(--p-0);
}

/* || Icon Styling */
.drawer-icon {
	width: 2rem;
	height: 2rem;
}

.drawer-active {
	width: 15rem;
}

.drawer-inactive {
	width: max-content;
}

.drawer-menu-icon-inactive {
	display: none;
}
