.flex-row {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-jc {
	justify-content: center;
}

.flex-js {
	justify-content: start;
}

.flex-ac {
	align-items: center;
}

.flex-as {
	align-items: start;
}

.flex-gap-1 {
	gap: 1rem;
}

.flex-gap-2 {
	gap: 2rem;
}
