body {
	font-family: inherit;
}

.input-container {
	outline: none;
	position: relative;
	width: 30rem;
}

.textbox-content {
	font-family: inherit;
	border: var(--b-0);
	background: inherit;
	font-size: inherit;
	outline: none;
	border-bottom: var(--b-2) solid var(--cta-color);
	color: var(--secondary-color);
}

.textbox-label {
	position: absolute;
	left: 0.5rem;
	top: 1.8rem;
	transform: translateY(-50%);
	transition: 0.3s transform ease-in-out;
}

.focused > .textbox-label {
	transform: translateY(-2.3rem);
	font-size: 1.2rem;
	background: var(--primary-color);
}

.focused > .textbox-content {
	border: var(--b-2) solid var(--secondary-color);
	border-radius: var(--br-1);
	outline: none;
}

.input-filled .input-container:focus-within::after {
	border: var(--b-1) solid var(--secondary-color);
}

.required-field {
	color: var(--cta-color);
}

.inactive-check {
	display: none;
}

.active-check {
	display: block;
}

.valid {
	color: var(--valid-color);
}

.invalid {
	color: var(--invalid-color);
}

.invalid-border {
	border-color: var(--invalid-color);
}

.valid-border {
	border-color: var(--valid-color);
}

.show-password {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.8rem;
	color: var(--cta-color);
}

/* || Form Radio and Checkbox buttons */
.form-container {
	width: 100%;
	height: auto;
}

.form-header {
	border-bottom: var(--b-1) solid var(--cta-color);
}

.form-heading {
	color: var(--cta-color);
}

.radio-btn-container {
	border-bottom: var(--b-1) solid var(--cta-color);
}

.checkbox-btn-container {
	border-bottom: var(--b-1) solid var(--cta-color);
}

/* Textbox with icon */

.search-icon {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.8rem;
	color: var(--secondary-color);
}

.search-icon:hover {
	color: var(--cta-color);
}

.input-with-icon {
	border: var(--b-1) solid;
}

.input-with-icon .textbox-content {
	border: var(--b-0);
}

@media screen and (max-width: 650px) {
	.input-form,
	.input-form .input-container,
	.input-form .textbox-content,
	.input-with-icon {
		width: 100%;
		height: auto;
		margin: var(--m-0);
	}
}
