body {
	font-family: inherit;
}

.input-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-grow: 1;
	flex-wrap: wrap;
	width: 100%;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	outline: none;
	width: 30rem;
}

.textbox-content {
	font-family: inherit;
	padding: 1rem;
	border: 0;
	background: inherit;
	font-size: inherit;
	outline: none;
	border-bottom: 0.15rem solid var(--cta-color);
	color: var(--secondary-color);
}

.input-container {
	position: relative;
}

.textbox-label {
	position: absolute;
	left: 0.5rem;
	top: 1.8rem;
	transform: translateY(-50%);
	transition: 0.3s transform ease-in-out;
}

.focused > .textbox-label {
	transform: translateY(-2.3rem);
	font-size: 1.2rem;
	background: var(--secondary-background-color);
}

.focused > .textbox-content {
	border: 0.15rem solid var(--secondary-color);
	border-radius: 0.3rem;
	outline: none;
}
.input-filled .input-container:focus-within::after {
	border: 0.1rem solid var(--secondary-color);
}

.required-field {
	color: var(--cta-color);
}

.email-check {
	padding: 0.5rem;
}
.password-check {
	padding: 0.5rem;
}

.inactive-check {
	display: none;
}

.active-check {
	display: block;
}
.valid {
	color: var(--valid-color);
}

.invalid {
	color: var(--invalid-color);
}

.invalid-border {
	border-color: var(--invalid-color);
}

.valid-border {
	border: 0.15rem solid var(--valid-color);
}

.show-password {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.8rem;
	color: var(--cta-color);
}

/* || Form Radio and Checkbox buttons */
.form-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: max-content;
	padding: 1rem;
	margin: 1rem;
}

.form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;
	border-bottom: 0.1rem solid var(--cta-color);
}

.form-heading {
	font-weight: bold;
	padding: 1rem 0rem;
	color: var(--cta-color);
}

.radio-btn-container {
	padding-bottom: 2rem;
	border-bottom: 0.1rem solid var(--cta-color);
}

.checkbox-btn-container {
	padding-bottom: 2rem;
	border-bottom: 0.1rem solid var(--cta-color);
}

/* Textbox with icon */

.search-icon {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.8rem;
	color: var(--secondary-color);
}

.search-icon:hover {
	color: var(--cta-color);
}

.input-with-icon {
	border: 0.1rem solid;
	border-radius: 1rem;
}

.input-with-icon .textbox-content {
	border: 0;
}
