/* || Tablet Screen Layout */
@media screen and (max-width: 1180px) {
	.header-nav-icon {
		display: block;
	}

	.grid-container .nav {
		height: 100%;
		grid-column: 1/6;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		z-index: var(--max-z-index);
		visibility: hidden;
	}

	.grid-container .rui-drawer-content--list {
		margin-top: 3rem;
	}
	.grid-container .main {
		grid-column: 3/10;
	}

	.grid-container .aside {
		grid-column: 10/13;
	}
	.grid-container .rui-code--iframe {
		width: 50rem;
	}
}

/* || Mobile Screen Layout */
@media screen and (max-width: 870px) {
	.grid-container .nav {
		height: 100%;
		grid-column: 1/8;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		visibility: hidden;
	}

	.grid-container .rui-drawer-content--list {
		margin-top: 3rem;
	}
	.grid-container .main {
		grid-column: 1/13;
	}
	.grid-container .aside {
		display: none;
	}
}

/* || Mobile Screen Layout */
@media screen and (max-width: 480px) {
	body {
		font-size: 1.5rem;
	}

	.grid-container .header {
		overflow: auto;
	}
}
