/* Profile Container Style */

.profile-container {
	width: 100%;
	position: relative;
}

/* Modal Styling */
.modal-container {
	display: none;
	background: var(--primary-color);
	z-index: 1;
	box-shadow: 0rem 0rem 1rem 1rem var(--shadow-color);
}
.modal-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 650px) {
	.modal-container {
		width: 100%;
		height: auto;
	}
	.modal-container > * {
		height: auto;
		width: 100%;
	}

	.modal-container .input-form {
		width: 100%;
		height: auto;
	}
	.modal-container .input-container {
		width: 100%;
		height: auto;
		margin: var(--m-0);
	}

	.modal-container .text-box-content {
		width: 100%;
		height: auto;
	}
}
