.pagination {
	background-color: var(--secondary-background-color);
}

.page-number {
	font-family: inherit;
	width: 4rem;
	height: 4rem;
	border: 0.2rem solid var(--cta-color);
	background: var(--cta-color);
	color: var(--tertiary-color);
}

.page-number:hover {
	color: var(--cta-color);
	background: var(--tertiary-color);
	border: 0.2rem solid var(--tertiary-color);
}

.page-active {
	color: var(--cta-color);
	background-color: var(--tertiary-color);
	border: 0.2rem solid var(--tertiary-color);
}
