.quiz-container {
	border-bottom: var(--b-2) solid var(--cta-color);
}

.quiz-nav-link:hover {
	color: var(--cta-color);
}

.wrong-answer {
	background-color: var(--wrong-answer);
	color: var(--tertiary-color);
}

.right-answer {
	background-color: var(--cta-color);
	color: var(--tertiary-color);
}
