/* || Colors and fonts */
:root {
	font-family: "Raleway", sans-serif;
	font-size: 62.5%;

	/* Z-Index */
	--max-z-index: 99999;
	--header-z-index: 99998;

	/* Flex */
	--flex-gap: 1rem;

	/* Dark Theme Color */
	--primary-color-dark: #17181a;
	--secondary-color-dark: #a0a0a7;
	--tertiary-color-dark: #0a0a0a;
	--cta-color-dark: #02b075;
	--secondary-background-color-dark: #202123;
	--secondary-color-filter-dark: invert(71%) sepia(0%) saturate(3725%)
		hue-rotate(137deg) brightness(80%) contrast(77%);
	--cta-color-filter-dark: invert(67%) sepia(100%) saturate(5068%)
		hue-rotate(134deg) brightness(98%) contrast(98%);

	/* Light Theme color */
	--primary-color-light: #d0d9dd;
	--secondary-color-light: #3a3c41;
	--tertiary-color-light: #303236;
	--cta-color-light: #01b77a;
	--secondary-background-color-light: #f3f5f6;
	--secondary-color-filter-light: invert(14%) sepia(0%) saturate(2914%)
		hue-rotate(298deg) brightness(91%) contrast(71%);
	--cta-color-filter-light: invert(54%) sepia(56%) saturate(4854%)
		hue-rotate(131deg) brightness(99%) contrast(99%);

	/* Components Color */

	/* Alerts */
	--success-background-color: lightgreen;
	--success-color: darkgreen;
	--error-background-color: lightcoral;
	--error-color: darkred;
	--warning-background-color: lightyellow;
	--warning-color: darkgoldenrod;
	--info-background-color: skyblue;
	--info-color: darkblue;

	/* Avatars */
	--online-badge-color: green;
	--away-badge-color: yellow;
	--busy-badge-color: red;

	/* Cards */
	--shadow-color-light: #9ca3af;
	--shadow-color-dark: #000009;
	--review-star-color: #f59e0b;
	--review-star-color-unset: grey;
	--disabled-font-color: grey;
	--zoom-card: 1.02;

	/* Inputs */
	--valid-color: green;
	--invalid-color: red;

	/* Quiz */
	--wrong-answer: #d41212d8;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: var(--primary-color-light);
		--secondary-color: var(--secondary-color-light);
		--tertiary-color: var(--tertiary-color-light);
		--cta-color: var(--cta-color-light);
		--secondary-background-color: var(--secondary-background-color-light);
		--secondary-color-filter: var(--secondary-color-filter-light);
		--cta-color-filter: var(--cta-color-filter-light);
		--shadow-color: var(--shadow-color-light);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: var(--primary-color-dark);
		--secondary-color: var(--secondary-color-dark);
		--tertiary-color: var(--tertiary-color-dark);
		--cta-color: var(--cta-color-dark);
		--secondary-background-color: var(--secondary-background-color-dark);
		--secondary-color-filter: var(--secondary-color-filter-dark);
		--cta-color-filter: var(--cta-color-filter-dark);
		--shadow-color: var(--shadow-color-dark);
	}
}

[color-scheme="dark"] {
	--primary-color: var(--primary-color-dark);
	--secondary-color: var(--secondary-color-dark);
	--tertiary-color: var(--tertiary-color-dark);
	--cta-color: var(--cta-color-dark);
	--secondary-background-color: var(--secondary-background-color-dark);
	--secondary-color-filter: var(--secondary-color-filter-dark);
	--cta-color-filter: var(--cta-color-filter-dark);
	--ripple-logo: var(--ripple-logo-dark);
	--shadow-color: var(--shadow-color-dark);
}

[color-scheme="light"] {
	--primary-color: var(--primary-color-light);
	--secondary-color: var(--secondary-color-light);
	--tertiary-color: var(--tertiary-color-light);
	--cta-color: var(--cta-color-light);
	--secondary-background-color: var(--secondary-background-color-light);
	--secondary-color-filter: var(--secondary-color-filter-light);
	--cta-color-filter: var(--cta-color-filter-light);
	--ripple-logo: var(--ripple-logo-light);
	--shadow-color: var(--shadow-color-light);
}
