.snackbar--container {
	position: fixed;
	background: var(--secondary-background-color);
	color: var(--cta-color);
	font-size: 1.35rem;
	width: max-content;
	padding: 1rem;
	border-radius: 1rem;
	z-index: var(--max-z-index);
	visibility: hidden;
}
.snackbar--retry {
	font-weight: bold;
	padding: 0.5rem;
	border-radius: 1rem;
}

.snackbar--container .rui-cross:hover {
	background-color: var(--cta-color);
	color: var(--tertiary-color);
	border-color: var(--tertiary-color);
}
@media screen and (max-width: 870px) {
	.top-right,
	.top-center,
	.bottom-right,
	.bottom-center {
		display: none;
	}
}
