* {
	margin: var(--m-0);
	padding: var(--p-0);
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	max-width: 100%;
}

body {
	background: var(--primary-color);
	color: var(--secondary-color);
	font-size: 1.6rem;
}

.grid-container {
	display: grid;
	grid: 100px, repeat(10, 1fr), 100px / minmax(100px, auto);
	margin: var(--m-0) var(--margin-auto);
}

.grid-container > * {
	padding: var(--p-7);
}

.grid-container .header {
	grid-column: 1/13;
	grid-row: 1/2;
}

.grid-container .nav {
	grid-column: 1/3;
	grid-row: 2/12;
}

.grid-container .main {
	grid-column: 3/11;
	grid-row: 2/12;
}

.grid-container .aside {
	grid-column: 11/13;
	grid-row: 2/12;
}

.grid-container .footer {
	grid-column: 1/13;
	grid-row: 12/13;
}

/* ||  Header Brand Info - logo and name */

.header {
	background-color: var(--primary-color);
	z-index: var(--header-z-index);
}

.header-shadow {
	box-shadow: 0 0 0.8rem 0.2rem var(--shadow-color);
}

.header-nav-icon {
	padding: var(--p-2);
	color: var(--cta-color);
	border-radius: var(--br-2);
	border: var(--b-1) solid var(--secondary-color);
	margin: var(--m-5);
	display: none;
}

.header-nav-icon:hover {
	color: var(--secondary-color);
	border-color: var(--cta-color);
}

.brand-logo {
	height: 6rem;
	width: 6rem;
}

.brand-name {
	height: 3rem;
	width: 2rem;
	position: relative;
	top: -0.6rem;
	left: -2.6rem;
	font-weight: bold;
	color: var(--cta-color);
}

.no-link {
	color: inherit;
	padding: var(--p-0);
	margin: var(--m-0);
	text-decoration: none;
}

.header-link-active {
	border-bottom: var(--b-2) solid var(--cta-color);
	padding: var(--p-5);
}

.social-icon-container {
	color: inherit;
	color: var(--secondary-color);
}

.social:hover {
	color: var(--cta-color);
}

.fab {
	cursor: pointer;
}

.fas {
	cursor: pointer;
}

.social {
	cursor: pointer;
	font-size: 2rem;
}

.header-link-active {
	color: var(--cta-color);
	padding-left: var(--p-5);
	border-bottom: var(--b-2) solid var(--cta-color);
	padding: var(--p-5);
}

/* || Navigation Bar */

.nav {
	padding: var(--p-5);
	overflow-y: auto;
	position: sticky;
	top: 0rem;
	height: 100vh;
	margin-bottom: calc(4 * var(--p-10) + var(--p-4));
	background-color: var(--primary-color);
}

.nav-shadow {
	box-shadow: 0 0 0.8rem 0.2rem var(--shadow-color);
}

.rui-drawer-header {
	color: var(--cta-color);
	padding: var(--p-5);
	margin-bottom: var(--m-7);
}

.display-inactive {
	display: none;
}

.no-list {
	list-style: none;
	margin-left: var(--m-5);
}

.rui-drawer-content--list {
	color: var(--secondary-color);
}

.rui-drawer-links {
	color: var(--secondary-color);
	text-decoration: none;
}

.rui-drawer-links:hover {
	color: var(--cta-color);
}

.rui-drawer-content {
	padding: var(--p-3);
}

.rui-drawer--sub-list {
	margin: var(--m-5) var(--m-0) var(--m-0) var(--m-10);
}

.list-heading {
	font-weight: bold;
}

.link-active {
	color: var(--cta-color);
	padding-left: var(--p-5);
	border-left: var(--b-2) solid var(--cta-color);
}

/* Aside */

.aside {
	font-size: 1.5rem;
	overflow-y: auto;
	position: sticky;
	top: 0rem;
	height: 100vh;
}

/* || Footer */

.footer {
	padding: var(--p-10);
	background-color: var(--primary-color);
	z-index: 1;
}

.footer-shadow {
	box-shadow: 0 0 0.8rem 0.2rem var(--shadow-color);
}

.footer-copyright {
	font-size: 1.2rem;
}

.footer-copyright span {
	font-size: 0.8rem;
}

/* || Main */
.rui-main--heading-container,
.rui-main--sub-heading {
	padding: var(--p-5);
	margin: var(--m-0) var(--m-5) var(--m-0) var(--m-5);
	border-bottom: var(--b-1) solid var(--cta-color);
}

.rui-main--heading {
	padding: var(--p-5);
}

.rui-main--text {
	padding: var(--p-5);
}

.rui-main-nav-links--container {
	padding: var(--p-10);
}

.rui-main-nav-links:hover {
	color: var(--cta-color);
}

.main-nav-icon {
	margin: var(--m-7);
}

/* Scroll bar */
*::-webkit-scrollbar {
	width: 0.2rem;
	height: 0.5rem;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--cta-color);
}

*::-webkit-scrollbar-track {
	background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--cta-color);
	border-radius: var(--br-2);
	border: var(--b-1) solid var(--cta-color);
}
