body {
	font-family: inherit;
}

/* || Horizontal Tab Styling */
.horizontal-tabs-container {
	background: var(--secondary-background-color);
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: inherit;
}

.horizontal-tabs-btn-container {
	border-bottom: 0.05rem solid var(--primary-color);
}

.tabs-btn {
	font-family: inherit;
	font-size: 1.5rem;
	color: inherit;
	background: var(--secondary-background-color);
	border: 0;
}

.horizontal-tabs-btn-active {
	font-weight: bold;
	border-bottom: 0.25rem solid var(--cta-color);
	color: var(--cta-color);
}

.horizontal-tabs-content {
	display: none;
	font-size: 1.5rem;
}

/* Vertical Tabs Styling */

.vertical-tabs-container {
	background: var(--secondary-background-color);
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: inherit;
}

.vertical-tabs-btn-container {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: var(--secondary-background-color);
	border: 0;
	border-right: 0.05rem solid var(--primary-color);
}

.vertical-tabs-btn-active {
	padding-right: 3rem;
	font-weight: bold;
	border-right: 0.5rem solid var(--cta-color);
	border-radius: 0.5rem;
	background: var(--primary-color);
	color: var(--cta-color);
}

.vertical-tabs-content {
	display: none;
	background: var(--primary-color);
	color: inherit;
	width: 60rem;
}

/* Authentication Tabs */

.show-password {
	cursor: pointer;
	position: absolute;
	top: 0.8rem;
	right: 1rem;
}

/* Profile Tabs */

/* Profile Container Style */

/* Removed Afterwards */
.profile-tabs {
	height: 100%;
	margin: calc(5 * var(--m-5)) 0;
}

.profile-tabs .tabs-btn {
	width: 18rem;
	height: 10rem;
	font-size: 1.8rem;
}

.profile-container {
	background: var(--primary-color);
	color: inherit;
	min-height: 40rem;
}

.border-shadow {
	box-shadow: 0rem 0rem 0.2rem 0.2rem var(--shadow-color);
}
@media screen and (max-width: 870px) {
	.vertical-tabs-btn-container {
		flex-direction: row;
		width: 100%;
		height: auto;
		background: var(--secondary-background-color);
		color: inherit;
		border-right: 0;
	}

	.vertical-tabs-btn-container .tabs-btn {
		height: max-content;
		width: 100%;
		margin: var(--m-0);
		justify-content: center;
	}

	.vertical-tabs-btn-container .vertical-tabs-btn-active {
		border-right: 0;
		padding-right: var(--p-5);
		border-bottom: var(--b-1) solid var(--cta-color);
		border-radius: 0;
		background-color: var(--secondary-background-color);
	}
	.vertical-tabs-content {
		width: 0;
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 600px) {
	.profile-tabs .vertical-tabs-btn-container .tabs-btn .tabs-btn-text {
		display: none;
	}
}
