body {
	font-family: inherit;
}

/* || Horizontal Tab Styling */
.horizontal-tabs-container {
	display: flex;
	flex-direction: column;
	background: var(--secondary-background-color);
	padding: 1rem;
	flex-wrap: wrap;
	gap: 1rem;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: inherit;
}

.horizontal-tabs-btn-container {
	display: flex;
	border-bottom: 0.05rem solid var(--primary-color);
	flex-grow: 1;
}

.tabs-btn {
	font-family: inherit;
	font-size: 1.5rem;
	color: inherit;
	background: var(--secondary-background-color);
	padding: 1rem;
	border: 0;
}

.horizontal-tabs-btn-active {
	font-weight: bold;
	border-bottom: 0.25rem solid var(--cta-color);
	color: var(--cta-color);
}

.horizontal-tabs-content {
	display: none;
	padding: 1rem;
	font-size: 1.5rem;
}

/* Vertical Tabs Styling */

.vertical-tabs-container {
	display: flex;
	background: var(--secondary-background-color);
	padding: 1rem;
	flex-wrap: wrap;
	gap: 1rem;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: inherit;
}

.vertical-tabs-btn-container {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: var(--secondary-background-color);
	padding: 0;
	border: 0;
	border-right: 0.05rem solid var(--primary-color);
	margin: 1rem 0;
}

.vertical-tabs-btn-active {
	padding-right: 3rem;
	font-weight: bold;
	border-right: 0.5rem solid var(--cta-color);
	border-radius: 0.5rem;
	background: var(--primary-color);
	color: var(--cta-color);
}

.vertical-tabs-content {
	display: none;
	padding: 1rem;
	margin: 1rem 0;
	flex-grow: 1;
	background: var(--primary-color);
	gap: 1rem;
	border-radius: 1rem;
	color: inherit;
	width: 60rem;
}

/* Authentication Tabs */

.tabs-btn-center {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.show-password {
	cursor: pointer;
	position: absolute;
	top: 0.8rem;
	right: 1rem;
}

.password-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}

/* Profile Tabs */

/* Profile Container Style */

/* Removed Afterwards */
.profile-vertical-tabs-container {
	height: 100%;
	margin: 5rem 0;
}
.profile-vertical-tabs-container .vertical-tabs-btn-container {
	justify-content: start;
	align-items: start;
	border-right: 0.05rem solid var(--primary-color);
	margin: 1rem 0;
}

.profile-vertical-tabs-container .tabs-btn {
	width: 18rem;
	height: 10rem;
	font-size: 1.8rem;
}

.profile-container {
	background: var(--primary-color);
	padding: 1rem;
	gap: 1rem;
	border-radius: 1rem;
	color: inherit;
	min-height: 40rem;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	margin: 0 1rem;
}

.profile-list {
	padding: 1rem;
}
.margin-7px {
	padding: 0.7rem;
}

.profile-vertical-tabs-container .basic-card > * {
	padding: 0.4rem;
}

.card-footer {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 0;
}

.card-footer > * {
	flex-grow: 1;
}

.profile-heading {
	padding: 0.5rem;
	margin: 0.5rem 0;
}

/* Modal Styling */
.modal-container {
	display: none;
	background: var(--primary-color);
	width: max-content;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
	text-align: center;
	z-index: 1;
	box-shadow: 0rem 0rem 1rem 1rem var(--shadow-color);
}
.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.modal-container .input-form {
	width: max-content;
}

/* Orders Card */
.orders-card .horizontal {
	height: max-content;
	width: 100%;
	margin: 3rem 0;
	box-shadow: 0rem 0rem 0.2rem 0.2rem var(--shadow-color);
}

.orders-card .horizontal-card-img {
	height: 25rem;
	width: 20rem;
}

.order-status {
	color: var(--cta-color);
}

/* Table formatting */

.table {
	margin: 1rem 0;
	font-size: inherit;
}

.table-row {
	margin: 0.5rem;
}

.table-head {
	padding: 0.5rem;
}

.table-data {
	padding: 0.5rem;
}
