.box-shadow {
	box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
	cursor: pointer;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.h-auto {
	height: auto;
}

.text-cta-color {
	color: var(--cta-color);
}

.background-cta-color {
	background: var(--cta-color);
	color: var(--tertiary-color);
}

.homepage-heading {
	font-size: 5rem;
	font-weight: bold;
	padding: 1rem;
}

.homepage-subheading {
	font-size: 1.8rem;
	padding: 1rem;
}

.pos-bottom {
	/* top: 0; */
	position: absolute;
	bottom: 0;
	width: 100%;
}

.no-link-decoration {
	color: inherit;
	text-decoration: none;
}
