<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Shreyas c. Soni">
    <link rel="stylesheet" href="./src/css/tabs.css">
    <title>Tabs - RippleUI</title>
</head>

<body>
    <div class="grid-container">

        <!-- || Header -->
        <header class="header">
            <div class="brand-info">
                <section>
                    <i class="fas fa-bars header-nav-icon"></i>
                </section>
                <a href="https://ripple-ui.netlify.app/" class="no-link">
                    <img src="https://raw.githubusercontent.com/sonishreyas/rippleUI/dev/components/media/images/ripple-logo-dark.png"
                        alt="Logo of ripple UI" class="brand-logo" />
                    <sub class="brand-name">Ripple UI</sub>
                </a>
            </div>
            <div class="social-icon-container">
                <a href="https://github.com/sonishreyas" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/ShreyasSoni0204" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/shreyas-soni-00752618b/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
                <i class="fas fa-sun theme-icon social" aria-label="dark/light theme icon"></i>
            </div>
        </header>

        <!-- || Main -->
        <main class="main">
            <section class="rui-main--heading-container">
                <h2 class="rui-main--heading">Tabs</h2>
                <p class="rui-main--text">Cards are used to show collective information like product price, preview, and
                    other details. </p>
            </section>
            <section class="rui-main--sub-heading">
                <div id="horizontal-tabs" class="horizontal-tabs">
                    <h3 class="rui-main--heading">Horizontal Tabs</h3>
                    <div class="rui-import-html">

                    </div>
                </div>
            </section>
            <section class="rui-main--sub-heading">
                <div id="vertical-tabs" class="vertical-tabs">
                    <h3 class="rui-main--heading">Vertical Tabs</h3>
                    <div class="rui-import-html">

                    </div>
                </div>
            </section>
            <section class="rui-main--sub-heading">
                <div id="authentication-tabs" class="authentication-tabs">
                    <h3 class="rui-main--heading">Authentication Tabs</h3>
                    <div class="rui-import-html">

                    </div>
                </div>
            </section>
            <section class="rui-main-nav-links--container">
                <a href="https://ripple-ui.netlify.app/components/snackbars/snackbars.html"
                    class="rui-main-nav-links no-link"><i class="fas fa-angle-left main-nav-icon"></i>
                    Snackbars</a>
                <!-- <a href="https://ripple-ui.netlify.app/components/chips/chips.html"
                    class="rui-main-nav-links no-link">Chips <i class="fas fa-angle-right main-nav-icon"></i></a> -->
            </section>
        </main>

        <!-- || Aside -->
        <aside class="aside">
            <ul class="rui-drawer-content--list no-list">
                <li class="rui-aside--heading">On this page</li>
                <li class="rui-drawer-content">
                    <a href="#horizontal-tabs" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Horizontal Tabs</span>
                    </a>
                </li>
                <li class="rui-drawer-content">
                    <a href="#vertical-tabs" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Vertical Tabs</span>
                    </a>
                </li>
                <li class="rui-drawer-content">
                    <a href="#authentication-tabs" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Authentication Tabs</span>
                    </a>
                </li>

        </aside>

        <!-- || Nav Bar -->
        <nav class="nav">
            <ul class="rui-drawer-content--list no-list">
                <li class="rui-drawer-content rui-drawer-header inactive">
                    <section>
                        <img src="https://raw.githubusercontent.com/sonishreyas/rippleUI/dev/components/media/images/ripple-logo-dark.png"
                            alt="Logo of ripple UI" class="brand-logo" />
                        <sub class="brand-name">Ripple UI</sub>
                    </section>
                    <section>
                        <i class="fas fa-angle-left close-drawer"></i>
                    </section>
                </li>
                <li class="rui-drawer-content">
                    <a href="" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Home</span>
                    </a>
                </li>
                <li class="rui-drawer-content">
                    <span class="rui-drawer-content--text list-heading">Getting Started</span>
                    <ul class="rui-drawer--sub-list no-list">
                        <li class="rui-drawer-content">
                            <a href="" class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Installation</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="rui-drawer-content">
                    <span class="rui-drawer-content--text list-heading">Components</span>
                    <ul class="rui-drawer--sub-list no-list">
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/alerts/alerts.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Alert</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/avatars/avatars.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Avatar</span>
                            </a>
                        </li>

                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/badges/badges.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Badges</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/buttons/buttons.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Buttons</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/cards/cards.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Cards</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/chips/chips.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Chips</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/drawers/drawers.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Drawer</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/snackbars/snackbars.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Snackbar</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/tabs/tabs.html" class="rui-drawer-links">
                                <span class="rui-drawer-content--text link-active">Tabs</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- || Footer -->
        <footer class="footer">
            <div class="social-icon-container">
                <a href="https://github.com/sonishreyas" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/ShreyasSoni0204" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/shreyas-soni-00752618b/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
            </div>
            <p class="footer-copyright"><span class="footer-copyright-icon"><i class="far fa-copyright"></i></span> 2022
                Ripple UI</p>
        </footer>
    </div>
    <script type="module" src="./src/js/index.js"></script>
    <script src="../../main/js/root.js"></script>
</body>

</html>