@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto:ital,wght@1,300&display=swap");

/* || Colors and fonts */
:root {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;

  /* Dark Theme Color */
  --primary-color-dark: #0a1929;
  --secondary-color-dark: #fffafa;
  --cta-color-dark: #3399ff;
  --secondary-background-color-dark: #0f263e;
  /* Backup colors: ff4321 */

  /* Light Theme color */
  --primary-color-light: #d4d4d8;
  --secondary-color-light: #0a1929;
  --cta-color-light: #ff4321;
  --secondary-background-color-light: #f3f4f6;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --cta-color: var(--cta-color-light);
    --secondary-background-color: var(--secondary-background-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --cta-color: var(--cta-color-dark);
    --secondary-background-color: var(--secondary-background-color-dark);
  }
}

[color-scheme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --cta-color: var(--cta-color-dark);
  --secondary-background-color: var(--secondary-background-color-dark);
}

[color-scheme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --cta-color: var(--cta-color-light);
  --secondary-background-color: var(--secondary-background-color-light);
}
