@import url("../../../../css/components.css");

.avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.avatar {
	border-radius: 50%;
}

.avatar-text {
	display: flex;
	justify-content: center;
	background: var(--cta-color);
	align-items: center;
	font-weight: bold;
}
.xl {
	height: 8rem;
	width: 8rem;
	font-size: 2.5rem;
}

.l {
	height: 5rem;
	width: 5rem;
}

.m {
	height: 3rem;
	width: 3rem;
	font-size: 1rem;
}

.s {
	height: 2rem;
	width: 2rem;
	font-size: 0.8rem;
}

.avatar-badge {
	height: 1.5rem;
	width: 1.5rem;
	border: 0.2rem solid var(--secondary-color);
	border-radius: 50%;
	position: relative;
}

.avatar-badge-xl {
	top: -2.5rem;
	right: -6rem;
}

.avatar-badge-l {
	top: -2rem;
	right: -3.6rem;
}

.avatar-badge-m {
	width: 1rem;
	height: 1rem;
	border: 0.2rem solid var(--secondary-color);
	top: -1.5rem;
	right: -2rem;
}
.avatar-badge-s {
	width: 0.8rem;
	height: 0.8rem;
	border: 0.1rem solid var(--secondary-color);
	top: -1rem;
	right: -1.5rem;
}

.online {
	background: var(--online-badge-color);
}
.away {
	background: var(--away-badge-color);
}

.busy {
	background: var(--busy-badge-color);
}
