@media screen and (min-width: 1180px) {
	.nav {
		visibility: visible;
	}
}

/* || Tablet Screen Layout */
@media screen and (max-width: 1180px) {
	.grid-container {
		/* background: red; */
	}

	.header-nav-icon {
		display: block;
	}

	.nav {
		height: 100%;
		grid-column: 1/4;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		visibility: hidden;
	}

	.rui-drawer-content--list {
		margin-top: 3rem;
	}
	.main {
		grid-column: 3/10;
	}

	.aside {
		grid-column: 10/13;
	}
	.rui-code--iframe {
		width: 50rem;
	}
}

/* || Mobile Screen Layout */
@media screen and (max-width: 870px) {
	.grid-container {
		/* background: yellow; */
	}

	.nav {
		height: 100%;
		grid-column: 1/6;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		visibility: hidden;
	}

	.rui-drawer-content--list {
		margin-top: 3rem;
	}
	.main {
		grid-column: 1/13;
	}
	.aside {
		display: none;
	}
}

/* || Mobile Screen Layout */
@media screen and (max-width: 480px) {
	body {
		font-size: 2rem;
	}
}
