<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Shreyas c. Soni">
    <link rel="stylesheet" href="https://ripple-ui.netlify.app/css/components.css" />
    <title>Alerts - RippleUI</title>
    <link rel="icon"
        href="https://raw.githubusercontent.com/sonishreyas/rippleUI/dev/components/media/images/ripple-logo.png"
        type="image/x-icon">
</head>

<body>
    <div class="grid-container">

        <!-- || Header -->
        <header
            class="header header-shadow flex-row justify-content-space-between align-centerflex-row justify-content-space-between align-center">
            <div class="brand-info flex-row justify-content-center align-center flex-gap-1">
                <section>
                    <i class="fas fa-bars header-nav-icon"></i>
                </section>
                <a href="https://ripple-ui.netlify.app/" class="no-link">
                    <img src="https://raw.githubusercontent.com/sonishreyas/rippleUI/dev/components/media/images/ripple-logo.png"
                        alt="Logo of ripple UI" class="brand-logo" />
                    <sub class="brand-name">Ripple UI</sub>
                </a>
            </div>
            <div class="social-icon-container flex-row align-center flex-gap-2">
                <a href="https://github.com/sonishreyas" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/ShreyasSoni0204" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/shreyas-soni-00752618b/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
                <i class="fas fa-sun theme-icon social" aria-label="dark/light theme icon"></i>
            </div>
        </header>

        <!-- || Main -->
        <main class="main">
            <section class="rui-main--heading-container">
                <h2 class="rui-main--heading">Alert</h2>
                <p class="rui-main--text">Alerts are used to attract user's attention for important information without
                    interrupting the user's flow.</p>
            </section>
            <section class="rui-main--sub-heading">
                <div id="standard-alert" class="standard-alert">
                    <h3 class="rui-main--heading">Standard Alert</h3>
                    <div class="rui-import-html">

                    </div>
                </div>

            </section>

            <section class="rui-main-nav-links--container flex-row justify-content-space-between">
                <a href="https://ripple-ui.netlify.app/components/installation/installation.html"
                    class="rui-main-nav-links no-link"><i class="fas fa-angle-left main-nav-icon"></i>
                    Installation</a>
                <a href="https://ripple-ui.netlify.app/components/avatars/avatars.html"
                    class="rui-main-nav-links no-link">Avatars <i class="fas fa-angle-right main-nav-icon"></i></a>
            </section>
        </main>

        <!-- || Aside -->
        <aside class="aside flex-column justify-content-start">

            <ul class="rui-drawer-content--list no-list">
                <li class="rui-aside--heading text-bold">On this page</li>
                <li class="rui-drawer-content">
                    <a href="#standard-alert" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Standard Alert</span>
                    </a>
                </li>
        </aside>

        <!-- || Nav Bar -->
        <nav class="nav nav-shadow">
            <ul class="rui-drawer-content--list no-list">
                <li
                    class="flex-row justify-content-space-between align-center rui-drawer-content rui-drawer-header display-inactive">
                    <section>
                        <img src="https://raw.githubusercontent.com/sonishreyas/rippleUI/dev/components/media/images/ripple-logo.png"
                            alt="Logo of ripple UI" class="brand-logo" />
                        <sub class="brand-name">Ripple UI</sub>
                    </section>
                    <section>
                        <i class="fas fa-angle-left close-drawer"></i>
                    </section>
                </li>
                <li class="rui-drawer-content">
                    <a href="" class="rui-drawer-links">
                        <span class="rui-drawer-content--text">Home</span>
                    </a>
                </li>
                <li class="rui-drawer-content">
                    <span class="rui-drawer-content--text list-heading">Getting Started</span>
                    <ul class="rui-drawer--sub-list no-list">
                        <li class="rui-drawer-content">
                            <a href="" class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Installation</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="rui-drawer-content">
                    <span class="rui-drawer-content--text list-heading">Components</span>
                    <ul class="rui-drawer--sub-list no-list">
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/alerts/alerts.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text  link-active">Alerts</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/avatars/avatars.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Avatars</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/badges/badges.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Badges</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/buttons/buttons.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Buttons</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/cards/cards.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Cards</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/chips/chips.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Chips</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/drawers/drawers.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Drawers</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/grids/grids.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Grids</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/images/images.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Images</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/inputs/inputs.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Inputs</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/lists/lists.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Lists</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/modals/modals.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Modals</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/navigation/navigation.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Navigation</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/rating/rating.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Rating</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/slider/slider.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Slider</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/snackbars/snackbars.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Snackbars</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/typography/typography.html"
                                class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Typography</span>
                            </a>
                        </li>
                        <li class="rui-drawer-content">
                            <a href="https://ripple-ui.netlify.app/components/tabs/tabs.html" class="rui-drawer-links">
                                <span class="rui-drawer-content--text">Tabs</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- || Footer -->
        <footer class="footer footer-shadow flex-column justify-content-center align-center flex-gap-1 flex-wrap">
            <div class="social-icon-container flex-row align-center flex-gap-2">
                <a href="https://github.com/sonishreyas" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/ShreyasSoni0204" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/shreyas-soni-00752618b/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
            </div>
            <p class="footer-copyright"><span class="footer-copyright-icon"><i class="far fa-copyright"></i></span> 2022
                Ripple UI</p>
        </footer>
    </div>
    <script type="module" src="./src/js/index.js"></script>
    <script src="../../main/js/root.js"></script>
</body>

</html>