@import url("../../../../css/components.css");

body {
	font-family: inherit;
}

/* || Icon Badge Style */
.badge-container {
	display: flex;
	justify-content: center;
	height: max-content;
	padding: 1rem;
	flex-wrap: wrap;
	gap: 2rem;
	border-radius: 1rem;
}

.badge-alignment--container {
	color: var(--cta-color);
	display: flex;
	justify-content: center;
	margin: 2rem;
	gap: 4rem;
	padding-bottom: 2rem;
}

.badge-alignment > * {
	padding: 1rem;
	margin: 1rem;
}
.badge {
	height: 6rem;
	width: max-content;
}

.badge-icon > * {
	font-size: 2.5rem;
}

.badge-icon:hover {
	color: var(--cta-color);
}

.badge-text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--cta-color);
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 0.9rem;
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	border-radius: 50%;
}

.top {
	top: -4rem;
}
.right {
	right: -1.5rem;
}

.left {
	left: -1rem;
}

.bottom {
	bottom: 1rem;
}

/* || Button Badge */

.badge-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	border: 0;
	background: var(--cta-color);
	color: var(--secondary-color);
	font-family: inherit;
	font-size: inherit;
	padding: 1rem;
}

.badge-btn--counter {
	background: var(--cta-color);
	color: var(--secondary-color);
	padding: 0.4rem;
	margin: auto;
	border-radius: 0.3rem;
}

.badge-btn:hover {
	background-color: var(--secondary-color);
	color: var(--cta-color);
}
