@import url("../../../../css/components.css");

body {
	font-family: inherit;
}

/* || Chip Container */
.chip--container {
	display: flex;
	background: var(--secondary-background-color);
	padding: 1rem;
	flex-wrap: wrap;
	gap: 1rem;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	color: var(--primary-color);
	max-width: 70rem;
}

/* || Basic Chips */

.basic-chip {
	display: flex;
	gap: 1rem;
	background: var(--primary-color);
	color: var(--secondary-color);
	padding: 1rem;
	flex-wrap: wrap;
	min-width: 2rem;
	align-items: center;
	border-radius: 1.5rem;
	font-size: 1.2rem;
	/* font-weight: bold; */
}

.chip-cross {
	background: var(--secondary-background-color);
	color: var(--secondary-color);
	font-size: 1.5rem;
	border-radius: 2rem;
	padding: 0 0.5rem 0.15rem 0.5rem;
	cursor: pointer;
}

.chip-cross:hover {
	background: var(--cta-color);
	color: var(--secondary-background-color);
}

/* || Input Chips */

.input-chip--input {
	border: 0;
	background: var(--secondary-background-color);
	color: var(--secondary-color);
	font-size: inherit;
	flex-grow: 1;
	padding: 1rem;
}

.input-chip--input:focus {
	outline: none;
}

/* || Input Chips with icon*/

/* || Card Icon */

.chip-icon {
	width: 3rem;
	height: 3rem;
	border-radius: 5rem;
}
